
$background: #101012;
$background-alternate: #18181C;
$input-background: #212026;
$font-normal: #FFF;
$font-accent: #5773FF;
$font-dull: #808088;
$color-normal: #FFF;
$color-accent: #5773FF;
$color-dull: #808088;
$color-normal-hover: #9fafff;
$color-accent-hover: #3557ff;
$color-dull-hover: #54545e;
$maroon: rgb(145, 39, 39);
$error: #e73434;
$favorite: rgb(182, 49, 49);
$favorite-hover: rgb(194, 91, 91);


$shadow: drop-shadow(0px 0px 2px rgba(53, 71, 38, 0.75));
// ANIMATIONS
$transition: .3s ease;
$radius: 8px;

// FONTS
$font-regular: 400 15px/21px 'Inter-Regular', sans-serif;
$font-medium: 400 18px/26px 'Inter-Regular', sans-serif;
$font-large: 400 24px/32px 'Inter-Regular', sans-serif;
$font-xlarge: 400 28px/36px 'Inter-Regular', sans-serif;
$font-small: 400 12px/17px 'Inter-Regular', sans-serif;
$font-regular-bold: 700 14px/20px 'Inter-Regular', sans-serif;
$font-medium-bold: 700 18px/26px 'Inter-Regular', sans-serif;
$font-large-bold: 700 24px/32px 'Inter-Regular', sans-serif;
$font-xlarge-bold: 700 28px/36px 'Inter-Regular', sans-serif;
$font-xxlarge-bold: 700 32px/38px 'Inter-Regular', sans-serif;
$font-small-bold: 700 12px/17px 'Inter-Regular', sans-serif;

// SPACING
$spacing-regular: "0";
$spacing-large: "0.5px";
$spacing-medium: "0.15px";

// Button svg shadow
$svg-shadow: drop-shadow(0px 0px 2px rgba(0,0,0,.75));

$breakpointlimit: 1024px;
$breakpointmin: 1365px;
$breakpoint: 1600px;
$breakpointmax: 2000px;